.quote {
    /* //padding: 5px 10px; */
    margin: 2px;
    font-style: normal;
    color: #39ff14;
    font-size: 1.5rem;
    font-family: 'Cinzel', serif;

    
    /* background-color: #EEEEEE; */
    /* border: 1px solid #DDDDDD;  */
}

.quoteList__container {
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}